name: CI Node.js

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  type-check:
    name: Type check with Node.js ${{ matrix.node-version }}
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install TypeScript
      run: npm install -g typescript

    - name: Type check
      run: tsc --noEmit
